*{
    margin: 0;
    padding: 0;
    font-family: arial;
    box-sizing: border-box;
}

body{
    
}
.wrapper{

}
.menu{
    background:rgb(235, 155, 6);
    height: 100px;
    width: 92%;
    float: right;
    text-align: center;
    line-height: 30px;
    
}
ul{
    padding-right: 10px;
    
}
ul li{
    display:inline;
    padding-left: 30px;
    

}
ul li a{
    text-decoration: none;
    float: left;
    padding: 30px;
    color: black;

}
ul li a:hover{
    color: white;
    background-color: rgb(224, 179, 96);
    min-height:100px;
    border-radius: 3px;
}
.sub1{
    display:none;
}

.logo{
    width:8%;
    min-height: 30px;
    float: left;

    
}
.home-image{
    background-image: url(images/delivery\ guy.jpg);
    min-height: 700px;
    background-size: cover;
    background-position: center;
    
    
    

   

}
.clearfix{
    content: "";
    display: block;
    clear: both;
}
.track-search{
    margin-top: 30px;
    width: 100%;
    height: 500px;
    background-color: grey;
}
   